<div class="contact-detail__first-name">
  <label for="contact-detail-first-name">First name</label><br>
  <input
    id="contact-detail-first-name"
    name="contact-detail-first-name"
    value={{@value.firstName}}
    class="contact-detail__input">
</div>
<div class="contact-detail__last-name">
  <label for="contact-detail-last-name">Last name</label><br>
  <input
    id="contact-detail-last-name"
    name="contact-detail-last-name"
    value={{@value.lastName}}
    class="contact-detail__input">
</div>