<div>Credit card panel</div>
<ol>
  <li>
    <label for="credit-card-number">Credit card number</label>
    <input type="text" id="credit-card-number" name="credit-card-number" value={{this.creditCardNumber}}>
  </li>
  <li>
    <label for="credit-card-cvv">CVV</label>
    <input type="text" id="credit-card-cvv" name="credit-card-cvv" value={{this.creditCardCvv}}>
  </li>
</ol>